<launch>
	
 
  <!-- launch file for ros bridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <include file="$(find astra_launch)/launch/astra.launch"/>

  <node name="pointcloud2" pkg="arfuros" type="pointcloud_arfuros" respawn="true">

    <param name="test_variable" value="0.04" type="double" />

  </node>

</launch>
